version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      time: '10:00'
    open-pull-requests-limit: 10
    versioning-strategy: increase
    ignore:
      # LOOM-2045: Requires investigation
      - dependency-name: '@typescript-eslint/eslint-plugin'
      # LOOM-2045: Requires investigation
      - dependency-name: '@typescript-eslint/parser'
      - dependency-name: '*'
        update-types: ['version-update:semver-patch']
    cooldown:
      default-days: 7
