name: Test

on:
  workflow_call:

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Run linters
        run: npm run lint

      - name: Test
        run: npm test
