name: release

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache

jobs:
  Create-NPM-Cache:
    runs-on: ubuntu-latest
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Upload to Cache
        uses: actions/cache@v5
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: ${{ steps.npm-cache.outputs.cache-hit != 'true' }}
        run: npm ci

  Run-Tests:
    permissions:
      statuses: write
      pull-requests: write
    needs: [Create-NPM-Cache]
    uses: ./.github/workflows/_test.yml

  Release:
    name: Release @skyscanner/eslint-config-skyscanner to NPM
    runs-on: ubuntu-latest
    environment: Publishing
    needs: [Create-NPM-Cache, Run-Tests]
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          ref: main

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v5
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Publish NPM package
        run: |
          npm version $RELEASE_VERSION --no-git-tag-version
          npm publish
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}
